{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container shadow-md p-5 formLayout">
        <h2>Registration Form</h2>
        <form class="form-group row " method="post" style="font-size:20px;" >
            {% csrf_token %}          

            {{form.as_p}}
            
            <div  class='btn-group butn' style="margin-top:25px ;">                
                <input class="btn btn-outline-primary" type="submit" value="Register">&nbsp;&nbsp;&nbsp;
                <input class="btn btn-outline-primary" type="reset" value="Reset">
            </div>
        </form>
    </div>
{% endblock %}