{% extends 'base.html' %}
{% load static %}

<br><br>
{% block body %}
<div class="container shadow-md p-5 formLayout">
    <h2> Update the Student List...</h2><hr>
    <form class="form-group row " method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <div  class='btn-group butn'>
            <input class="btn btn-outline-primary" type="submit" value="Update">&nbsp;&nbsp;&nbsp;
            <input class="btn btn-outline-primary" type="reset" value="Reset">
        </div>
    </form>
{% endblock %}